#bubbles {
    border: 2px solid black;
    padding: 2px;
    width: calc( (20px + 2px) * 16 );
    display: flex;
    flex-wrap: wrap;

    align-content: flex-start;
    justify-content: space-around;
}

.bubble {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px dotted black;
}